<p id="notice"><%= notice %></p>

<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :memo_cont, "掲示板検索" %>
    <%= f.text_field :memo_cont, class: "form-control" %>
    <%= f.label :category_cont, "カテゴリー"%>
    <%= f.select(:category_eq, ["ルームマッチ", "フレンド募集","チームメンバー募集", "対抗戦", "雑談"], include_blank: "-")%>
  </div>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>

<h1>掲示板</h1>
<div class="box5">
<table  border="3" align="center" cellpadding="auto" cellspacing="auto" width="50%"height="auto">

  
    <tr>
      <th colspan="2">タイトル</th>
         
    </tr>
  
  <tbody>
    <% @articles.each do |article| %>
      <tr>

       <td style="border-style: none;"> 
        ・<%= link_to article.title, article %>
       </td>
    
        <% date = article.created_at.in_time_zone('Asia/Tokyo') %>
      <td align="right" style="border-style: none;" >
        <%= "#{date.year}年 #{date.mon}月 #{date.day}日" %> 
      </td>
    
      </tr>
    <% end %>
    
  </tbody>

</table>

<%= link_to "新規作成", new_article_path, class:"btn btn-primary" %>
 <%= paginate @articles %>
