<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mydeck %>
    <%= form.text_field :mydeck %>
  </div>

  <div class="field">
    <%= form.label :Opponentdeck %>
    <%= form.text_area :Opponentdeck %>
  </div>

  <div class="field">
    <%= form.label :Ahead %>
    <%= form.text_field :Ahead %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
