<tbody>
  
      <tr>
        <p><%= link_to "エルフ", users_moreinfo_path(name: "エルフ") %></p>
        <p><%= link_to "ロイヤル", users_moreinfo_path(name: "ロイヤル") %></p>
        <p><%= link_to "ウィッチ", users_moreinfo_path(name: "ウィッチ") %></p>
        <p><%= link_to "ドラゴン", users_moreinfo_path(name: "ドラゴン") %></p>
        <p><%= link_to "ネクロマンサー", users_moreinfo_path(name: "ネクロマンサー") %></p>
        <p><%= link_to "ヴァンパイア", users_moreinfo_path(name: "ヴァンパイア") %></p>
        <p><%= link_to "ビショップ", users_moreinfo_path(name: "ビショップ") %></p>
        <p><%= link_to "ネメシス", users_moreinfo_path(name: "ネメシス") %></p>
      </tr>
    
    </tbody>