<div class="mypage_score">
<h1>対戦成績</h1>
<table border="3" align="center" cellpadding="auto" cellspacing="auto" width="70%"height="auto">

 <tr>
 
 <thead>
    <tr>
      <th>使用クラス</th>
      <th>対戦数</th>
      <th>勝利数</th>
      <th>先攻勝率</th>
      <th>後攻勝率</th>
      <th>勝率</th>
    </tr>
  </thead>

 <td> 
  <table>
  <td><%= render 'class' %> </td>
　</table>
 </td>
 
 <td> 
  <table>
  <td><%= render 'number' %> </td>
　</table>
 </td>
 
 <td> 
  <table>
  <td><%= render 'win' %> </td>
　</table>
 </td>
 
 <td> 
  <table>
  <td><%= render 'pre' %> </td>
　</table>
 </td>
 
 <td> 
  <table>
  <td><%= render 'post' %> </td>
　</table>
 </td>
 
 <td> 
  <table>
  <td><%= render 'percentage' %> </td>
　</table>
 </td>
 
  
  </tr>
  </table>
  </div>