<div class="text-align:center">
    <h1><%= "#{@name}での戦績" %></h1>
</div>
<% @data.each do |d| %>

    <% @decks.each do |deck| %>
        <% if Deck.find(d.deck_id).Opponentdeck == deck.to_s%>
            <% Deck.find(d.deck_id).result == "勝ち" ? @score[deck.to_s][:win] +=1 : @score[deck.to_s][:lose] += 1 %>
        <% end %>
    <% end %>
<% end %>


<table border="3" align="center" cellpadding="auto" cellspacing="auto" width="30%"height="auto">
<thead>
  <tr>
    <th>対戦相手のデッキ</th>
    <th>対戦数</th>
    <th>勝利数</th>
    <th>敗北数</th>
    <th>勝率</th>
  </tr>
</thead>

<tbody>
    <% @decks.each do |d|%>
    <tr>
        <td>vs<%= d.to_s %></td>
        <td><%= @score[d.to_s][:win] + @score[d.to_s][:lose] %></td>
        <td><%= @score[d.to_s][:win]  %></td>
        <td><%= @score[d.to_s][:lose]  %></td>
        <td><% if @score[d.to_s][:win].to_f + @score[d.to_s][:lose].to_f > 0 %>
            <%= (@score[d.to_s][:win].to_f / (@score[d.to_s][:win].to_f + @score[d.to_s][:lose].to_f) * 100).round %>%
            <% else %>
            0%
            <% end %>
            </td> 
    </tr>
    <% end %>

</tbody>
</table>
<%= link_to "戻る", users_show_path(current_user.id),class:"btn btn-primary btn-sm align:center" %>