<div class="mypage" >
  <h2>  <%= @user.uid %> </h2>
<%= image_tag(@user.icon.to_s, :size => "100x100")%>
<p><%= @user.bio %></p>

</div>

<p><%= render 'score' %></p>

<%=  link_to "戦績入力", new_deck_path, class:"btn btn-primary"%>  |
<%=  link_to "戦績編集", decks_path, class:"btn btn-primary"%>
