<p id="notice"><%= notice %></p>

<p>
  <strong>あなたのデッキ:</strong>
  <%= @deck.mydeck %>
</p>

<p>
  <strong>相手のデッキ:</strong>
  <%= @deck.Opponentdeck %>
</p>

<p>
  <strong>先攻後攻:</strong>
  <%= @deck.Ahead %>
</p>

<p>
  <strong>結果:</strong>
  <%= @deck.result %>
</p>

<%= link_to '編集', edit_deck_path(@deck), class:"btn btn-primary btn-sm" %> |
<%= link_to '戻る', decks_path, class:"btn btn-primary btn-sm" %>