<footer class="footer">
     <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to "マイページ", users_show_path(current_user.id)  %></li>
      <li><%= link_to "戦績登録", new_deck_path %></li>
      <li><%= link_to "戦績編集", decks_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </ul>
  </nav>
</footer>