 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Shadowverse戦績管理アプリ", root_path, id: "logo" %>
            
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "最新情報", '#' %></li>
            <li><%= link_to "掲示板",  '#' %></li>
            <% if user_signed_in? %>
            <li><%= link_to "マイページ", "users/show" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>